body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
}

.signup-container {
    background-color: #c3e6e3;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

label {
    font-size: 14px;
    margin: 8px 0 4px;
}

input {
    width: 94%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}


button {
    background-color: #555;
    color: white;
    padding: 10px 12px;  
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 14px;  
    width: 100px;  
    align-self: center;
}

button:hover {
    background-color: #333;
}
